.button{
		margin:6px;
		border:1px solid #dfdfdf;
		padding:30px;
		
}
.dot>a{
	color:white;
	text-decoration:none;
	background-color:#086afc;
	padding:10px 15px;
	margin-top:0px;
	border-radius:3px;	
	position:relative;
	border:none;
	
}
a:after{
	background-color:red;
	height:10px;
	content:"";
	width:10px;
	border-radius:50%;
	position:absolute;
	border:1px solid #fff;
	top:-3px;
	left:64px;
}
